@charset "utf-8";
$checkboxconfiguratortemplatebackoffice-container-background: var(--bo-base-background);
$checkboxconfiguratortemplatebackoffice-container-font-family: var(--bo-font-family);
$checkboxconfiguratortemplatebackoffice-container-font-size: $font-size__base;
$checkboxconfiguratortemplatebackoffice-label-text-color: var(--bo-text-color);
